body,html{
padding: 0;
margin: 0;
background-color: #5cbf94;
overflow-x:hidden;
}
p{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}


@font-face {
	font-family: 'Weather';
	src: url('../font/weather.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Reg';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}
.weather .icon{
	font-family: "Weather";
}
.r-container {
position:absolute;
left:0px;
min-height:100%;
top:0px;
width:100%;
z-index:100;
background-color: #5cbf94;
/*-webkit-box-shadow:-1px 0 13px rgba(18,127,80,0.6);
	    box-shadow:-1px 0 13px rgba(18,127,80,0.6);
*/
border-left:1px solid #55ae8b ;	
}
.s-container {
position:absolute;
left:0px;
font-family:'B Yekan',Arial, Helvetica, sans-serif;
top:0px;
width:280px;
z-index:10;
font-size:13px;
direction:rtl;

}
.s-container h3 {
	text-align:right;
	width:250px;
	font-size:18px;
	padding:4px 15px;
	font-family:'B Yekan',Arial, Helvetica, sans-serif;
	font-weight:normal;
	background:#4eaf85;
	border-bottom:1px solid #47a67d; 
	margin:0px 0 10px 0;
/*	-webkit-box-shadow:-1px 0 12px rgba(18,127,80,0.6);
	box-shadow:-1px 0 12px rgba(18,127,80,0.6);
*/
  border-bottom:2px solid #55ae8b ;
}
.menu-item {
width:280px;
float:left;
margin:10px 0 0 0;	
}
.r-body {
	
margin-top:70px;
width:100%;
text-align:right;
float:right;
margin-bottom:65px;
}
.row-per {
 height :40px;
/* box-shadow: 0 2px 2px rgba(52,73,94,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(52,73,94,0.2);
	*/
	border-bottom:1px solid #54a889 ;
 margin:0;
 padding:18px 20px;
 color:fff;
 overflow:hidden;

}
.longheigh {
	height:80px;

}
.row-per  img {
		margin-right:7px;
	float:right; margin-top:2px;	
	
}
.row-per label{
	float:right;	
	width:150px;
	text-align:right;
	padding-top:10px;
	font-family:'B Yekan',Arial, Helvetica, sans-serif;
	font-size:18px;
	direction:rtl;
	padding-right:10px;
	
}
.s-container .menu-item label {
	float:right;	
	width:90px;
	text-align:left;
	padding-top:3px;
	
}
.s-container .menu-item input[type=text] {
	float:right;
	width:140px;
	margin-right:20px;
	text-align:right;
	direction:ltr;
	text-align:left;
	padding:11px;
}
.s-container .menu-item button {

	margin-right:190px;
}
.btn {
		font-family:'B Yekan',Arial, Helvetica, sans-serif;
		font-size:14px;}
@-webkit-keyframes spin {
	from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
#loader {
	color: rgba(255,255,255,0.8);
	font-family: 'Weather';
	-webkit-animation: spin 900ms linear infinite;
	-webkit-transform-origin: 50% 100%;
}
.status {
line-height: 1;
padding: 0;
font-size: 9.6em;
display: block;
position: absolute;
left: 50%;
top: 40%;
width: 70px;
height: 82px;
vertical-align: text-bottom;
margin: 0 0 0 -24px;
z-index:1000;
}


.logo{
	opacity: 0.9;
	height: 55px;
	width: 65px;
	position: absolute;
	top: 11px;
	right:10px;

}
.settings {
	opacity: 0.9;
	height: 55px;
	width: 65px;
	position: absolute;
	top: 11px;
	left:15px;

}
.setting_butt {
	border:none;
	width:40px;
	height:30px;
		
}
.logo-txt{
	font-size: 2.2em;
	font-family: "Arial Rounded MT Bold";
	color: rgba(255,255,255,0.6);
	position: absolute;
	top: 110px;
	left: 220px;
	font-weight:normal;
}
.logo-txt h2{
	margin: 0;
	padding: 0;
}
.app-block{
	width: 800px;
	position: absolute;
	top: 240px;
	left: 35%;
	margin-left: -400px;
}
.a-block{
	float:left;
	text-align: center;
	padding: 20px 60px;
	opacity: 0.7;
}
.a-block .ico{
	font-family: "Sosa";
	color: rgba(255,255,255,0.6);
	font-size: 7em;
}
.a-block p{
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
	color: rgba(0,0,0,0.3);
	font-size: 1.3em;

}
.footer .lamba{
	width: 179px;
	height: 40px;
	left: 50%;
	margin-left: -90px;
	position: absolute;
	margin-top: 8px;
	opacity: 0.6;
}
.footer .lamba img{
	height: 40px;
}
.hide{
	display: none;
}
.selected{
	opacity: 1;
	/*box-shadow: 0 0 5px rgba(52,73,94,1);
	-webkit-box-shadow: 0 0 5px rgba(52,73,94,1); 
	*/
	border-radius: 6px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #34495E;
}
.takpol {
float:left; width:60px; margin-top:4px;	
}
.dopol {
	float:left; width:60px; margin-top:-10px;	
}
/*Remote Styles*/
.r-header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #34495E;
	height: 68px;
	color: rgba(255,255,255,0.6);
	z-index: 9999;
	border-bottom:1px solid #1c2937;
}
.r-header h2{
	margin: 12px 0;
}
.r-logo{
	opacity: 0.3;
}
.ui-switch {
  display: inline-block;

  position: relative;
  cursor: pointer;

  
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}

.ui-switch:focus {
  border-color: #8aade1;
  outline: none; /* disabling Safari's default behavior*/
}

.ui-switch.disabled {
  border-color: #999;
  cursor: default;
}

.ui-switch-middle {
  height: 20px; width: 60px;
  border: solid 7px #5cbf94;
  position: relative;
  margin-top: -34px;
  z-index: 100;
  
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.ui-switch-mask {
  height: 30px;
  margin: 2px 4px;
  overflow: hidden;
}

.ui-switch-master {
  height: 24px;
  position: relative;
  left: 10px;
}

.ui-switch-upper {
  height: 20px; width: auto;
  margin: 5px;
  position: absolute;
  z-index: 101;
}

.ui-switch-handle {
  display: block;
  height: 30px; width: 30px;
  position: absolute;
  top: -4px; left: -15px;
  background: url(jquery.switch.png);
  background-size: 30px 30px;
  
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.ui-switch-.disabled .ui-switch-handle:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0; left: 0;
  height: 30px; width: 30px;
  background: white;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE 5-7 */
  -moz-opacity: 0.5; /* Mozilla */
  -khtml-opacity: 0.5; /* Safari 1.x */
  opacity: 0.5; /* Good browsers */
  
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.ui-switch-lower {
  height: 20px; width: 1000px;
  margin: 5px;
  position: absolute;
  z-index: 99;
}

.ui-switch-labels {
  clear: both;
}

.ui-switch-on,
.ui-switch-off {
  display: block;
  float: left;
  line-height: 18px;
  font-size: 35px;
  color: white;
  padding: 0 10px;
  border: solid 1px black;
  text-align: center;
  text-decoration: none;
  
 
  font-weight:bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ui-switch-on {
  border-right: none;
  border-color: #CCCCCC;
  padding-right: 20px;
  
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
 /* background: rgba(16,68,131,0.2	); /* Old browsers */
   
  background: rgba(255,255,255,0.6	); /* Old browsers */

}

.ui-switch-off {
  border-left: none;
  border-color: #000000;
  padding-left: 20px;
  
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
/*  background: rgba(165,18,18,0.8); Old browsers */
  background: rgba(15,23,31,0.8	);
}

.ui-switch.disabled .ui-switch-on,
.ui-switch.disabled .ui-switch-off {
  border-color: #333;
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE 5-7 */
  -moz-opacity: 0.5; /* Mozilla */
  -khtml-opacity: 0.5; /* Safari 1.x */
  opacity: 0.5; /* Good browsers */
  
  background: #525252; /* Old browsers */
  background: -moz-linear-gradient(top,  #525252 0%, #3e3e3e 2%, #545454 10%, #5d5d5d 17%, #787878 90%, #757575 98%, #525252 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(2%,#3e3e3e), color-stop(10%,#545454), color-stop(17%,#5d5d5d), color-stop(90%,#787878), color-stop(98%,#757575), color-stop(100%,#525252)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #525252 0%,#3e3e3e 2%,#545454 10%,#5d5d5d 17%,#787878 90%,#757575 98%,#525252 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #525252 0%,#3e3e3e 2%,#545454 10%,#5d5d5d 17%,#787878 90%,#757575 98%,#525252 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #525252 0%,#3e3e3e 2%,#545454 10%,#5d5d5d 17%,#787878 90%,#757575 98%,#525252 100%); /* IE10+ */
  background: linear-gradient(top,  #525252 0%,#3e3e3e 2%,#545454 10%,#5d5d5d 17%,#787878 90%,#757575 98%,#525252 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#525252',GradientType=0 ); /* IE6-9 */
}

.ui-switch-on:hover,
.ui-switch-off:hover {
  color: white;
  text-decoration: none;
}

.ui-switch, .ui-switch * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.footer {
		background-color: #34495E;
	height: 60px;
	color: rgba(255,255,255,0.6);
	z-index: 9999;
	border-top:1px solid #1c2937;	
	position:fixed;
}
.slider_main_panel {
margin:5px 8px;
width:auto;
height:20px;
background:rgba(255,255,255,0.4);
overflow:visible;
border-radius:5px;
border:1px solid rgba(100,100,100,0.4);
}
.slider_holder {
 position:relative;
 clear:both;
 height:30px;
 width:100%;
 display:block;
 padding-top:15px;
	
}
.contoroler233 {
	left:50%;
	top:-4px;
	background:url(jquery.switch.png) no-repeat;
	background-size: 30px 30px;
	width:30px;
	height:30px;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#CCC;
	padding:0px;
	margin-left:-5px;
	margin-right:-5px;
}
